@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

*{
  margin: 0;
	padding: 0;
  font-family: "montserrat", sans-serif;
}

body,html{
  background: #d8d8d8;
  height: 100%;
  width: 100%;


}




  
  .navMenu { 
    position: fixed;    
    width: 35vw;
    height: 100%;


  }
  .navMenu-container{
    border-right: solid black 1px;   
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #17151A;

    
  }
  .navMenu-logo{
    
    flex-basis: 20%;
    flex-grow: 1;
    

  
    
   
  }
  .navMenu-logo h1{
    font-family: "Noto Sans",serif;
    
    text-align: center;
    font-size: 5.6vw;
    /*font-size: 4.5em;*/
    color: #fff;
    text-shadow: 5px 2px 8px rgba(0,0,0,0.44);
  
  }

  .navMenu-logo h1:hover{
    text-decoration: underline;
  }

  .navMenu-avatar{
    flex-basis: 20%;
    flex-grow: 1;
    display: flex;

    align-items: center;
    justify-content: center;
   
  }
  .navMenu-avatar img{
    border-radius: 50%;
    height: 10vw;
    width: 10vw;
    
  }

  .social{
    
    flex-basis: 10%;
    flex-grow: 1;
    display: flex;

    align-items: center;
    justify-content: center;
  }

  .social i{
    color: whitesmoke;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 4vw;
    /* size for image icons
    height: 5vw;
    width: 5vw;
    */
    box-shadow: -2px 8px 32px -4px rgba(0,0,0,0.3);
    -webkit-box-shadow: -2px 8px 32px -4px rgba(0,0,0,0.3);
    -moz-box-shadow: -2px 8px 32px -4px rgba(0,0,0,0.3);
  }

  .navMenu-navBar{

    text-align: center;  
    flex-basis: 20%;
    flex-grow: 1;
 
  
    z-index: 1;

    
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    

  }

  .navMenu-navBar a{
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    padding: 2px 8px 2px 8px;
    text-decoration: none;
    font-size: 1.8vw;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-shadow: 5px 2px 8px rgba(0,0,0,0.44);

  }

  .navMenu-navBar a:hover{
    text-decoration: underline;
    color: #f1f1f1;
  }

  @media screen and (max-width:1000px) {
    .navMenu-navBar {padding-top: 15px;}
    .navMenu-navBar a {font-size: 4vw;}
  }

  /*init our body*/
  
  .mainBody { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin-left: 35vw; 
    font-size: 28;
    overflow-x: hidden;    
    background: #d8d8d8;
  }

  .mainBody > div{
    width: 97%;
    margin: 1vw;    

  }
  
