@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');


.body-img{
    background-image: url('../Images/webdesign.jpeg');
    background-size: cover;
    background-position: center;
    height: 350px;

  }

  .pageContent{
      background-color: whitesmoke; 
      border-radius: 5px;
      box-shadow: -2px 8px 32px -4px rgba(0,0,0,0.3);
      -webkit-box-shadow: -2px 8px 32px -4px rgba(0,0,0,0.3);
      -moz-box-shadow: -2px 8px 32px -4px rgba(0,0,0,0.3);

  }

  .pageContent h1{
    margin-left: 20px;
    padding: 5px;
    color: black;  
    font-size: 2.2em;
    font-family: "Open Sans", sans-serif;
  }

  .pageContent p{
      margin-left: 20px;
      padding-left:10px;
      padding-bottom: 10px;
      color: #7C7C7C;
      font-family: "Maven Pro";
      font-weight: 700;
  }