*{
    margin: 0;
	padding: 0;
}
body,html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "montserrat", sans-serif;
}

#IndexHeader{
 
    
	height: 60px;
        width: 100%;
        
        position: fixed;
         
         
         top: 0px;
        
        
}
nav.trans{
    background-color: #d2c9c9c7;
    height: 60px;
    
    width: 100%;
   /* box-shadow: 0px 5px 13px 1px rgba(0,0,0,0.93); */
}

nav{
background-image: url('');/* image of border background*/
 
 
   /* width of border*/
 /* border: 2px solid #005bff66;  width of border*/ 
  /*border-radius: 40px;*/
   overflow: hidden;
  padding: 0px 30px;
  float: right;
  height: 100%;
  width: 100%;
  transition: .3s;
}
nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    
}

nav ul li{
    list-style: none;
}

nav ul li a{
    line-height: 350%;
   color:whitesmoke;
 font-family: Lucida Console;
  height: 100%;
  text-align: center;
   padding: 12px 30px;
  text-decoration: none;
  transition: background-color 0.5s;
  font-size: 17px;
  
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

nav.trans ul li a{
    color: black;
}

nav ul li a:focus{
    outline: none;
}

nav ul li a.active{
    background: red;
    color: blue;
    border-radius: 6px;
}

nav ul li a:hover{
    color: red;
    /* background-color:rgb(113, 112, 112);*/
  transition:color 1s;
}

.welcomeImg {
  background-image: url("../images/introbg.jpg");
  width: 100%;
  font-family: "montserrat", sans-serif;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  opacity: 1;
}

.welcomeTitle {
  margin-top: 15%;
  text-align: center;
  color: white;
  font-size: 5em;
  font-family: "montserrat", sans-serif;
}

.learnMore {
  color: white;
  text-align: center;
  margin-left: 1%;
  margin-top: 16%;
  margin-bottom: -0.5%;
  font-family: "montserrat", sans-serif;
}

.arrow {
  margin-top: 0;
    border-right:7px solid white;
    border-bottom:7px solid white;
    width:30px;
    height:30px;
    transform: rotate(45deg);
    margin-left: 49.5%;
}


.arrow:hover{
  border-right:7px solid black;
  border-bottom:7px solid black;
}

.welcomeDesc {
  color: white;
  text-align: center;
  font-family: "montserrat", sans-serif;
}

.aboutMe {
  background-color: white;
  font-family: "montserrat", sans-serif;
  margin-top: 3%;
  height: 10%;
}
.center {
  text-align: center;
}

.profilePicture {
  border-radius: 50%;
  height: -webkit-fill-available;
  width: 5%;
  margin-left: 5%;
  margin-right: 3%;
  float: left;
}

.aboutMeText {
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 20%;
  margin-bottom: 5%;
}

.technologiesContainer {
  height: 100%;
  width: 100%;
  background-color: rgb(45,45,45);
  margin: 0;
}
.techContainerTitle{
  text-align: center;
  font-family: "montserrat", sans-serif;
  color: white;
}

.technologies {
  display: flex;
  flex-wrap:wrap;

}

.technology {
  margin-top: 3%;
  width: 40%;
  height: 30%;
  /*border: 2pt solid rgb(32,32,32);*/
  /*color: rgb(32,32,32);*/
  color: white;
  font-family: "montserrat", sans-serif;
  text-align: center;
  margin-left: 6%;
  margin-right: 2.5%;

}

h4.technology {
  color: red;
}

.endBorder{
  height: 10%;
  color: white;
}

/*#left{
  margin-right: 2.5%;
}
#right {
  margin-left: 2.5%;
}*/
/*.technologies{
  height: 100%;
  background-color: orange;
  color: blue;

  margin-bottom: 0;
}


.technology{
  vertical-align: top;
  width: 50%;
  height: 30%;
  margin-top: 5%;
  border: 3pt solid;

}

.technologyContainerTitle{
  text-align:center;
}


#left{
  margin-right: 2.5%;
  display: flex;
  flex-wrap: wrap;
}

#right{
  margin-left:2.5%;
}
.techTitle{
  text-align: center;
} */
.test {
  height: 100%;
  background-color: red;
  margin-top: 0;
}

.blogTitle{
  color:blue;
}
