
body{
    background-color: #00b5bf;
    margin: 0;
}

img { /* makes the images look curved */
    border-radius: 5px 5px 5px 5px;
    
}
header{

   background-image: url('header.png'),url('headerbg.jpg');
   background-size: contain,100%;
   background-repeat: no-repeat;
   background-position: center;
   box-shadow: 0px 3px 1px black, 0px 3px 1px black;
   border-radius: 20px;
}

p,li,figcaption{
    color: #6c009d;
}

div#Grid ul{ /* centers the list elements in the body portion of the code*/
    text-align: center;
    display: inline-block;
}
       #Grid{ /* creates an area where all the information will be displayed */
    position: relative;
      background-color: #e7edff;
    border: 3px solid black;
    height: 75%;
    width: 99%;
    border-radius: 70px;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
        
}
 
#GridFav{  /* copied grid without text centered */
    position: relative;
      background-color: #e7edff;
    border: 3px solid black;
    height: 75%;
    width: 99%;
    border-radius: 70px;
    
    font-family: cursive;
    font-size: 20px;
        
}

.navbar{ /* created own self nav bar */
	border: 3px solid black;
    background-color: #85b6c8;
    padding-bottom: 50px;
	padding-top: 50px;
	position: fixed; 
	border-radius: 10px;
}

nav a{ /* made a elements look like buttons instead of links */
    display: block; 
    color:black; /* text color  */
    background-color: #00d4ff;
    border: 1px solid #000;
     padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-decoration: none; /* gets rid of the underline portion of the <a> element */
    text-align: center; /* puts the text in the middle of the box */
     font-family: cursive;
     border-radius: 70px; /* makes the 'buttons' look curved */
}
nav a:hover{ /* effect added when hovering over an element */
     background-color: #9825a5;
   
}